/* Write your CSS here */
@media (max-width: 575px), (min-width: 576px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-img {
    width: 10%;
    margin-right: 10px;
  }
  .logo-heading {
    color: white;
  }
  .container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    background-size: cover;
  }
}
